VITE_API_URL=http://localhost:3000
VITE_AES_SECRET=change-this-development-secret #Esto ùnicamente es para la prueba tècnica, en un entorno real se debe cambiar por una clave segura y no debe estar en el repositorio ni del lado de frontend.